/* This Contains our styling for our elements */

@charset "UTF-8";

@font-face {
    font-family: ProximaNovaregular;
    src: url("font/MARK\ SIMONSON\ -\ PROXIMA\ NOVA\ REGULAR.OTF") format("opentype");
}

@font-face {
    font-family: ProximaNovaBold;
    font-weight: bold;
    src: url("font/MARK\ SIMONSON\ -\ PROXIMA\ NOVA\ BOLD.OTF") format("opentype");
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: "ProximaNovaregular", Arial, Geneva, sans-serif;
	/* background-image: url(../img/clouds.png); */
	margin: 0px;
	padding: 0px;
}
